/* Car Design */
img{max-width: 100%;}
.car-body {
    text-align: center;
    position: relative;
    padding: 33px 0;
}
.main-car-body {
    position: relative;
    z-index: 2
}
.main-car-body {
     display: none;   
}
.main-car-body.active {
    display: inline-block;
}
.main-car-body-accident{
    display: none;
    position: relative;
    z-index: 2
}
.main-car-body-accident.active{
    display: inline-block;
}
.wheel1 {
    position: absolute;
    left: 17.5%;
    bottom: 0;
}
.wheel2 {
    position: absolute;
    right: 14%;
    bottom: 0;
}
.accident-animation {
    position: absolute;
    top: 35%;
    right: 30px;
    z-index: 1;
    display: none;
}
.car-body.full-stop .accident-animation {
    display: block;
    animation: blink-a 1s ease-out;
    animation-iteration-count: 3;
}
@keyframes blink-a{
    0%,60%,100%{
        visibility: hidden;
        opacity: 0;
    }
    50%,80%{
        visibility: visible;
        opacity: 1;
    }
}

.car-2-cover {
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
}
.car2-wheel-1 {
    position: absolute;
    top: 19px;
    left: -16px;
    z-index: -1;
}
.car-2-inner{
    position: relative; 
    display: inline-block;
}
.car2-wheel-2 {
    position: absolute;
    top: 22px;
    right: -14px;
    z-index: -1;
}

/* slow speed */
.car-body.slow-speed .wheel1{
    animation: slow-rotate 4s linear infinite;
}
.car-body.slow-speed .wheel2{
    animation: slow-rotate 4s linear infinite;
}

@keyframes slow-rotate{
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}

/* Medium speed */
.car-body.medium-speed .main-car-body{
    animation: medium-body-up 0.4s ease-out;
}

@keyframes medium-body-up{
    0%,100%{
        transform: rotate(0);
    }
    80%{
        transform: rotate(-0.3deg);        
    }
}
.car-body.medium-speed .wheel1{
    animation: medium-rotate 2s linear infinite;
}
.car-body.medium-speed .wheel2{
    animation: medium-rotate 2s linear infinite;
}

@keyframes medium-rotate{
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}

/* Fast Speed */
.car-body.fast-speed .wheel1{
    animation: fast-rotate 1s linear infinite;
}
.car-body.fast-speed .wheel2{
    animation: fast-rotate 1s linear infinite;
}



@keyframes fast-rotate{
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(720deg);
    }
}
.car-body.fast-speed .main-car-body{
    animation: body-up 0.4s ease-out;
}

@keyframes body-up{
    0%,100%{
        transform: rotate(0);
    }
    50%{
        transform: rotate(-0.6deg);        
    }
}


/* Stop rotate */
.car-body.full-stop .wheel1{
    animation: stop-rotate 1s linear;
    animation-iteration-count: 1;
}
.car-body.full-stop .wheel2{
    animation: stop-rotate 1s linear;
    animation-iteration-count: 1;
}

@keyframes stop-rotate{
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(20deg);
    }
}

.car-body.full-stop .main-car-body{
    animation: body-down 0.5s ease-out;
}

@keyframes body-down{
    0%,100%{
        transform: rotate(0);
    }
    50%{
        transform: rotate(1deg);        
    }
}

/* car second */
.car-2-inner.left-side-wheel-move .car2-wheel-1{
    animation: wheel-left 6s infinite;
}
.car-2-inner.left-side-wheel-move .car2-wheel-2{
    animation: wheel-left 6s infinite;
}

@keyframes wheel-left{
    0%,50%,100%{
        transform: rotate(0);
    }
    25%{
        transform: rotate(12deg);
    }
    75%{
        transform: rotate(-12deg);        
    }
}

.car-gradient {
    position: absolute;
    left: 0;
    bottom: 32%;
    right: 8px;
    height: 147px;
}
.car-gradient img{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 1;
}
.car-gradient img.car-gradient1.active{
    animation: animate-01 1s linear;
    z-index: 1;
}
.car-gradient img.car-gradient2.active{
    animation: animate-02 1s linear;
    z-index: 2;
}
.car-gradient img.car-gradient3.active{
    animation: animate-03 1s linear;
    z-index: 3;
}
.car-gradient img.car-gradient4.active{
    animation: animate-04 1s linear;
    z-index: 4;
}

@keyframes animate-01{
    0%{
        visibility: hidden;
        opacity: 0;
    }
    100%{
        visibility: visible;
        opacity: 1;
    }
}
@keyframes animate-02{
    0%{
        visibility: hidden;
        opacity: 0;
    }
    40%,100%{
        visibility: visible;
        opacity: 1;
    }
}
@keyframes animate-03{
    0%{
        visibility: hidden;
        opacity: 0;
    }
    20%,100%{
        visibility: visible;
        opacity: 1;
    }
}
@keyframes animate-04{
    0%{
        visibility: hidden;
        opacity: 0;
    }
    20%,100%{
        visibility: visible;
        opacity: 1;
    }
}

.speed-animation {
    position: absolute;
    left: 20px;
    bottom: 10px;
    max-width: 100px;
    z-index: -1;
    display: none;
}
.speed-animation.active{
    display: block;
}